html {
  @media (max-width: 1080px) {
    font-size: 15px;
  }
  @media (max-width: 720px) {
    font-size: 14px;
  }
}

body {
  /* background-image: url("images/background.png"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;

  /* background: #ffff; */
  -webkit-font-smoothing: antialiased;
}

body,
input,
textarea,
button {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

p, li {
  font-size: 93.75%;
}

h1,
h2,
h3,
h5,
h6,
strong {
  font-weight: 600;
}



button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}