/* 
Fix the header to the top of the page, reset list styling 
and hide the dropdown menu as the default state.
*/
@import './global.css';

.header {
  /* background-color: #009a9f; */
  border-radius: 0.5rem; 
  /* box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1); */
  /*position: fixed;*/
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  z-index: 3;
}

.header ul {
  display: block;
  margin: 0;
  padding: 0px;
  list-style: none;
  overflow: hidden;
  /* background-color: #fff; */
}

.header li a {
  border-radius: 0.5rem;
  margin: 3px 3px;
  display: flex;
  background: #f4f4f4;
  opacity: 0.7;
  padding: 20px 20px;
  /* border: 1px solid #404040; */
  text-decoration: none;
  color: black;
  /* color: #404040; */
  /* text-align: right; */
  padding-right: 20px;
}

.header li a:hover {
  opacity: 1;
  transition: 0.4s;
  /* background-color: #f4f4f4; */
  background-color: #a5cceb;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

/*
Style the menu icon for the dropdown. I’ve decided to use span elements to 
create the icon, rather than an svg of icons font. Using css here allows us to have a fancy 
animation whenever some clicks the icon:
*/

.header .menu-icon {
  cursor: pointer;
  /* display: inline-block; */
  float: right;
  padding: 34px 24px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background 0.2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* 
Add the icon and menu animations when the checkbox is clicked:
*/

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 320px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*
Add responsive css to show the horizontal menu items for larger browser widths by default: 
*/

@media (min-width: 58em) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1240px;
    margin: 0 auto;
    padding-left: 0px;
    padding-right: 0px;

    /* padding-left: 20%;
  padding-right: 20%;
  
  border: 3px solid black;
  display: flex;
  width: 2000px; */
  }
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }

  .header .menu-icon {
    display: none;
  }
}
