.values-container {
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  position: relative;
}

.image {
  display: none;
}

.values-content {
  margin-left: 20px;
  padding-right: 2rem;
  width:100%;
}

.values {
  padding-left: 30px;
  margin: 0;
  list-style-type: square;
}

.values-items {
  margin:0;
  padding:0 0 0.5em 0;
  }

.values-stack-top {
  position: absolute;
  width: 96.5%;
  /* margin-left: 40px; */
  transform: skewY(-6deg);
  background: linear-gradient(160deg, #ebeef1, hsla(0, 0%, 100%, 0) 400px);
  border-radius: 3rem;
  margin-top: -10px;
  height: 100%;
  z-index: -1;
}

@media screen and (min-width: 58em) {
  .values-container {
    max-width: 1240px;
  }
  .values-content {
    margin-left: 30rem;
    padding-right: 2rem;
    width: 100%;
  }

  .values-stack-top {
    position: absolute;
    width: 96.5%;
    /* margin-left: 40px; */
    transform: skewY(-6deg);
    background: linear-gradient(160deg, #ebeef1, hsla(0, 0%, 100%, 0) 400px);
    overflow: hidden;
    border-radius: 3rem;
    margin-top: -15px;
    height: 250px;
  }

  .image {
    display: block;
    transform: skewY(6deg);
    margin-top: -120px;
    margin-left: -50px;
  }
}
